/**  Basic Page CSS **/
body {
  font-weight: 200;
  background: url(woman_teeth_dentist-1200x628-facebook.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.mine{
  color: white;
}

header a,
footer a {
  color: white;
}

footer {
  font-size: 0.8em;
}

.bg-primary,
.btn-primary {
  background-color: #377bb5 !important;
  border: inherit;
}

h1:after {
  content:"";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 3px solid white;
}

h1 {
  position: relative;
  font-size: 20pt;
}

footer {
  border-top: 1px solid black;
  position: relative;
  bottom: 0;
  font-weight: bolder;
  text-align: center;
  width: 100%;
  z-index: -1;
}

.List{
  background:#4389c7;
}